/*
PARAMETROS GENERALES
*/
:root{
    font-family: 'Heebo', sans-serif;
}

header,
body, 
h1, 
h2,
h3,
p{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    background-color: #F2F2F2;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}   

/*
HEADER
*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px  ;
    box-shadow: inset 0px 0px 5px #E5E5E5  ;
    background-color: #F2F2F2;
    
}
.header__logo{
    display: flex;
    height: 100px;
}
.header__menu a{
    display: flex;
    margin-top: 20px;
    padding: 40px 30px 0 0;
    margin: 0 ;
    float: left;
}




/*
MAIN
*/
.parientes__div{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

/*BARRA DE BUSQUEDA*/
.barrabusqueda__tamaño{
    /*Tamaño de la barra de busqueda*/
    max-height: 25px;
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    gap: 10px;
   
}
.barrabusqueda__contenedor{
    padding: 10px;
    margin-bottom: -15px;
    margin-left: 520px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.barrabusqueda__contenedor input[type="text"]{
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
}
.barrabusqueda__boton{
    background: none;
    border: none;
    cursor: pointer;
    max-width: 20px;
    margin-left: -5px;
    margin-top: 0px;
}
/*******************/


/*CATALOGO DE LIBROS*/
.contenedor__titulo{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0px;
    font-size: 40px;
}
.libros__contenedor{
    width: 100%;
    border: 2px solid #ccc; 
    border-radius: 20px;
    margin-left: 275px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    box-shadow: 0px 0px 5px #ccc;
}
.libro__espaciado{
    /*Espaciado entre las portadas de los libros del catalogo*/
    flex: 1;
    text-align: center;
    padding: 5px;
    margin: 25px;
    border: 8px solid #e9e5e5;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    transition: transform 0.2s ease;
    background-color: white;


}
.libro__espaciado:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}
.libro__tamaño img{
    /*Hacer que todas las portadas de los libros tengan el mismo tamaño*/
    width: 50px;
    height: 100px;
}
.libro__titulo{
    /*Estilo del titulo de los libros*/
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 10px 0;
}
.libro__descripcion {
    font-size: 16px;
    color: #777;
    text-align: center;

}

/*******************/

/*CONTENEDOR FILTRADO*/
.titulo__contenedorfiltrado{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 77px;
    font-size: 30px;
}
.titulo__contenedorchangers{
    /*Colocado a la derecha de la foto*/
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-bottom: -20px;
    font-size: 30px;

}
.contenedor__changers{
    /*Imagen a la izquierda y texto a la derecha*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #ccc;
}

.titulo__imagenes{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 45px;
    margin-left: -220px;
    font-size: 17px;
    white-space: nowrap;
}
.descripcion__contenedorchangers{
    padding-top: 90px;
    margin-left: -300px;
    margin-right: 15px;
    flex-direction: column;
    display: flex;
    font-size: 11px;
    white-space: nowrap;

}
.contenedor__changers img{
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
    height: 90px;
    border: 4px solid #d4cbcb;
    border-radius: 20px;
}

.contenedor__principal{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 20px;
    text-align: left;
    background-color: #F2F2F2;

}
.botonesfiltrado__contenedor{
    display: flex;
    flex-direction: column;
    

}
.botones__filtrado__estilo{
  background: none;
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: gray;
  text-align: left;
}
.botones__filtrado__estilo:hover{
    color: lightblue;
}






